@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animation-slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

body {
  background: #333;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay.ttf') format('truetype');
}

@font-face {
  font-family: 'Good Timing';
  src: url('/fonts/GoodTiming.otf') format('opentype');
}

.clash-display {
  font-family: 'Clash Display';
}

.good-timing {
  font-family: 'Good Timing';
}

.transition-colors-all {
  /* transition-property: background-color, border-color, color, fill, stroke; */
  transition-property: all;
  transition-duration: .3s;
}

.animation-slider {
  animation: animation-slider 10s infinite linear;
}