@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes skew-x-shakeng {
  0% {
    transform: skewX(-15deg) rotate(-10deg);
  }

  5% {
    transform: skewX(15deg) rotate(10deg);
  }

  10% {
    transform: skewX(-15deg) rotate(-10deg);
  }

  15% {
    transform: skewX(15deg) rotate(10deg);
  }

  20% {
    transform: skewX(0deg) rotate(0deg);
  }

  100% {
    transform: skewX(0deg) rotate(0deg);
  }
}


@keyframes animation-slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

body {
  background: #333;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay.ttf') format('truetype');
}

@font-face {
  font-family: 'Good Timing';
  src: url('/fonts/GoodTiming.otf') format('opentype');
}

.clash-display {
  font-family: 'Clash Display';
}

.good-timing {
  font-family: 'Good Timing';
}

.transition-colors-all {
  /* transition-property: background-color, border-color, color, fill, stroke; */
  transition-property: all;
  transition-duration: .3s;
}

.animation-slider {
  animation: animation-slider 15s infinite linear;
}

.skew-x-shakeng:hover {
  animation: skew-x-shakeng 1s infinite;
}





/* Variable Font */

.textAnim .anim {
  font-variation-settings: 'wght' var(--wght);
  opacity: 1;
}





